#root {
  background-color: white;
  /* margin-bottom: 2rem; */
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

/* @media only screen and (max-width: 768px) {
  #root {
    margin-bottom: 2rem;
  }
} */

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 45px;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  font-size: 45px;
  z-index: 1;
  cursor: pointer;
}